.title {
  display: flex;
  justify-content: center;
  color: #d4af37;
  font-size: 50px;
  margin: 0;
}

.slogan {
  display: flex;
  justify-content: center;
  /* margin: 20px auto; */
  /* font-weight: 100px; */
  /* line-height: 25px; */
  color: #d4af37;
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../images/trees.jpg);
  background-size: cover;
  background-position: center;
  /* height: 50vh; */
  margin-top: 80px;
  padding-top: 100px;
  padding-bottom: 60px;
}

.button {
  display: flex;
  justify-content: center;
  margin: auto;
}
