.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../images/trees.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--bg-secondary);
  font-size: 70px;
  margin: 0;
  width: 95%;
  text-align: center;
}

.slogan {
  display: flex;
  justify-content: center;
  color: var(--bg-secondary);
}

.instagramHandle {
  display: flex;
  justify-content: center;
  color: var(--bg-secondary);
  margin: 0;
}

.instagramHandle a {
  display: flex;
  justify-content: center;
  color: var(--bg-secondary);
  text-decoration: none;
}

.instagramHandle img {
  width: 1.5rem;
  margin-right: 0.5rem;
  fill: var(--bg-secondary);
}

.filterbgsecondary {
  filter: invert(81%) sepia(92%) saturate(2542%) hue-rotate(324deg)
    brightness(86%) contrast(93%);
}

.home button:hover {
  background-color: transparent;
  border: 0.2rem solid var(--bg-primary);
  color: #fff;
}

#navArrowDownHome img {
  width: 2rem;
  margin-top: 3rem;
}
