@import-normalize;

:root {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  --text-secondary: #d7ccbc;
  --bg-primary: #3a5f0b;
  --bg-secondary: #d4af37;
}

* {
  box-sizing: border-box;
}

/* SCROLL BAR */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background: var(--bg-primary);
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "aileron", sans-serif;
  font-weight: bold;
  font-style: normal;
  display: flex;
  justify-content: center;
}

.sectionTitle {
  font-size: 40px;
  margin: 0 0 10px 0;
  white-space: nowrap;
}

.button {
  display: flex;
  align-items: center;
}

button {
  width: 320px;
  padding: 10px;
  margin: 20px 10px;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  background: var(--bg-primary);
  cursor: pointer;
  font-size: 18px;
  border: 0.2rem solid transparent;
  transition: 0.2s ease;
}

.filterWhite {
  filter: invert(50%);
}

.navArrow img {
  transition: transform 0.2s ease;
}

.navArrow img:hover {
  transform: scale(1.2);
}

/* FRAMER MOTION */

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: clamp(50%, 700px, 85%);
  height: min(50%, 300px);

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
