@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  font-family: "Open Sans";
  font-size: 16px;
  --text-secondary: #d7ccbc;
  --bg-primary: #3a5f0b;
  --bg-secondary: #d4af37;
}

* {
  box-sizing: border-box;
}

/* SCROLL BAR */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background: var(--bg-primary);
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "AileronRegular";
  font-weight: bold;
  font-style: normal;
  display: flex;
  justify-content: center;
}

.sectionTitle {
  font-size: 40px;
  margin: 0 0 10px 0;
  white-space: nowrap;
}

button {
  width: 320px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 22px;
  font-weight: bold;
  color: white;
  background: var(--bg-primary);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: none;
  font-size: 18px;
  border: 0px var(--bg-primary);
}

span {
  background: var(--bg-secondary);
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

/* button:hover span {
  width: 100%;
  border: 3px;
} */

table,
th,
td {
  border: 1px solid;
}

.filterWhite {
  filter: invert(50%);
}

.navArrow img {
  transition: transform 0.2s ease;
}

.navArrow img:hover {
  transform: scale(1.2);
}
