.navbar {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #d7ccbc;
  margin-top: -80px;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  height: 70px;
  justify-self: start;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
}

.navbar ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background: black;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.left-nav {
  display: flex;
}

.left-nav > a {
  text-decoration: none;
  color: black;
}
