.ourteam {
  height: calc(100vh - 80px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.profiles {
  display: flex;
  justify-content: space-evenly;
}

.profiles > .tutor > img {
  width: 150px;
  border-radius: 25px;
}

.tutor {
  width: 300px;
  padding: 10px;
}

/* .degree {
  width: 150px;
} */
