.ourteam {
  height: calc(100vh - 80px);
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  background-color: var(--bg-primary);
  background-size: cover;
}

.ourteam h2,
.ourteam h3,
.ourteam p {
  color: rgb(32, 19, 14);
}

.sectionContent {
  width: 70%;
}

.profiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tutor {
  text-align: center;
  padding: 20px;
}

.tutor img {
  width: 200px;
  border-radius: 25px;
}

.nancyProfile {
  width: auto;
}

.angelProfile {
  width: auto;
}

.carolProfile {
  width: auto;
}

.tutorName {
  margin-top: 5px;
  margin-bottom: 5px;
}

.degree {
  margin-top: 5px;
  font-size: 0.8rem;
}

#navArrowDownTeam img {
  max-width: 2rem;
}

#navArrowUpTeam img {
  max-width: 2rem;
  margin-bottom: 1rem;
}

/* .degree {
  width: 150px;
} */

/* RESPONSIVE RULES */
@media screen and (max-width: 900px) {
  #navArrowDownTeam img {
    margin-top: -2rem;
  }

  .tutor img {
    width: 150px;
  }
}

@media screen and (max-width: 730px) {
  .profiles {
    margin-top: 10px;
  }

  .tutor img {
    width: 100px;
  }

  .tutor {
    width: 100%;
    padding: 0px;
    margin: none;
    text-align: center;
  }

  .sectionContent {
    width: 83%;
  }
}

/* @media only screen and (min-width: 600px) {


  .desktop {
    display: inline-block;
  }
} */
