.requestatutor {
  height: calc(100vh - 80px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.requestatutor > button {
  width: 70px;
}

.submissionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 70%;
  margin: 1rem auto;
  padding: 2rem; */
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}
