.services {
  text-align: justify;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.pricing {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}

.yearlevel {
  padding: 20px;
  text-align: center;
  /* background-color: ; */
}

.navArrowServices img {
  /* fix alignment of arrow */
  max-width: 2rem;
  position: absolute;
  align-items: center;
  bottom: 50px;
}

/* .navArrowServices a:active {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
} */

.filterWhite {
  /* change colour of arrow */
  filter: invert(50%);
}
