.services {
  text-align: center;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.pricing {
  display: flex;
  justify-content: space-evenly;
}

.yearlevel {
  padding: 10px;
}
