@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* green hue #3A5F0B 
gold hue #D4AF37 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AileronRegular";
  font-weight: bold;
  font-style: normal;
}

.title {
  text-align: center;
  color: #3a5f0b;
}

.tab {
  width: 100vx;
  height: 70px;
  background-color: red;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient;
}

table,
th,
td {
  border: 1px solid;
}
